{{ define "main" }}
<style type="text/css">

@media (max-width:480px){
.mtlbl{

position: absolute;
width: auto;
height: 28px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 28px;
z-index: 199;
cursor: pointer;
}	
.tlbl1{
	left: 15px;
top: 296px;
	color: #2E2E2E;
}
.tlbl2{	
	left: 185px;
top: 296px;
	color: #2E2E2E;
}
.tlbl3{
	left: 37px;
top: 335px;
	color: #F57000;
}
.tlbl4{
	left: 212px;
top: 334px;
	color: #2E2E2E;
}
.tban{
position: relative;
width: 100%;

height: 400px;
left: 0px;
margin-top: 40px;
background: #FFFFFF;
/* Text Grey */

border: 1px solid #8E8E8E;
box-sizing: border-box;
	}
.banner{
position: relative;
width: 100%;

height: 75px;
left: 0px;


/* orange */

background: #F57000;
}	
.mtitle{
position: absolute;
width: 300px;
height: 41px;
margin-right: 10%;
margin-left: 10%;
top: 10px;

/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

/* f57000 */

color: #FFFFFF
}
.mdis{
position: absolute;
width: auto;
height: auto;
left: 5px;
top: 105px;

/* Body Text */

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
/* or 156% */

display: flex;
align-items: flex-end;

/* text black */

color: #2E2E2E;
}
.mart{
position: relative;
width: 100%;

height: 100%;
left: 0px;
margin-top: 20px;

/* Grey */

background: #F2F2F2;
}
.marttitle{
position: relative;
margin-top: 20px;
width: 234px;
height: 41px;
left: 50px;


/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.martdate{
position: relative;
margin-top: 20px;
width: 70px;
height: 28px;
left: 50px;


font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height */


color: #000000
}
.fbbox{
position: relative;
width: 100%;

height: 100%;
min-height: 500px;
left: 5px;
margin-top: 40px;

}
.mbox{
position: relative;
margin-top: 40px;
width: 100%;

height: 179px;
left: 5px;

background: #FFFFFF;
}
.mboxt{
	position: relative;
left: 2.63%;
right: 52.81%;
top: 8.38%;
bottom: 71.51%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;

/* Text Black */

color: #2E2E2E;

}
.mboxdis{
	position: relative;
top: 10%;
left: 2.63%;
right: 33.33%;


width: 200px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
/* or 156% */


/* Text Black */

color: #2E2E2E;
}
.mboxdate{
position: relative;
left: 2.63%;
right: 84.21%;
top: 78.77%;
bottom: 8.94%;
width: 200px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;

}
.mboximg{
	position: absolute;
left: 69.3%;
right: 2.63%;
top: 8.38%;
bottom: 2.23%;
width: 75px;
height: 75px;

}

	}
@media (min-width: 500px){
.tban{
position: relative;
width: 1000px;
height: 228px;
left: 220px;
margin-top: 40px;
background: #FFFFFF;
/* Text Grey */

border: 1px solid #8E8E8E;
box-sizing: border-box;
	}
.banner{
	position: relative;
width: 1000px;
height: 75px;
left: 0px;


/* orange */

background: #F57000;
}	
.mtitle{
	position: absolute;
width: 352px;
height: 41px;
left: 50px;
top: 10px;

/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

/* f57000 */

color: #FFFFFF
}
.mdis{
	position: absolute;
width: 585px;
height: 50px;
left: 35px;
top: 105px;

/* Body Text */

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
/* or 156% */

display: flex;
align-items: flex-end;

/* text black */

color: #2E2E2E;
}
.mart{
	position: relative;
width: 600px;
height: 100%;
left: 220px;
margin-top: 20px;

/* Grey */

background: #F2F2F2;
}
.marttitle{
position: relative;
margin-top: 20px;
width: 234px;
height: 41px;
left: 50px;


/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.martdate{
position: relative;
margin-top: 20px;
height: 28px;
left: 50px;


font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height */


color: #000000
}
.fbbox{
position: relative;
margin-top: 20px;
width: 570px;
height: 100%;
left: 5px;


}
.mbox{
position: relative;
margin-top: 40px;
width: 560px;
height: 100%;
left: 5px;

background: #FFFFFF;
}
.mboxt{
	position: relative;
left: 2.63%;
right: 52.81%;
top: 8.38%;
bottom: 71.51%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 36px;

/* Text Black */

color: #2E2E2E;

}
.mboxdis{
	position: relative;
left: 2.63%;
right: 33.33%;
top: 28.49%;
bottom: 29.61%;
width: 200px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
/* or 156% */


/* Text Black */

color: #2E2E2E;
}
.mboxdate{
position: relative;
left: 2.63%;
right: 84.21%;
top: 78.77%;
bottom: 8.94%;
width: 200px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;

}
.mboximg{
position: absolute;
left: 69.3%;
right: 2.63%;
top: 8.38%;
bottom: 2.23%;

}
.mtlbl{
position: absolute;
width: 100%;
height: 28px;
top: 180px;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height */
z-index: 199;


/* Text Black */


cursor: pointer;
}
.tlbl1{
	left: 30px;
	color: #2E2E2E;
}
.tlbl2{
	left: 239px;
	color: #2E2E2E;
}
.tlbl3{
	left: 439px;
	color: #F57000;
}
.tlbl4{
	left: 639px;
	color: #2E2E2E;
}
}	
	
</style>

<div class="tban">
<div class="banner">
	<label class="mtitle">သင်ထောက်ကူများစုစည်းမှု</label>
</div>	
<p class="mdis">ဒီစာအုပ်ဆိုင်အကြောင်းရှင်းပြဖို့စာသားဖြစ်,ဒီစာအုပ်ဆိုင်အကြောင်းရှင်းပြဖို့စာသားဖြစ်ပါတယဒီစာအုပ်ဆိုင်အ ကြောင်းရှင်းပြဖို့စာသားဖြစ်ပါတယ်</p>	
<label id="tlbl1" class="mtlbl tlbl1"onclick="notshowfb1(this)">သင်တန်းဆရာလက်စွဲ</label>
<label id="tlbl2" class="mtlbl tlbl2"onclick="notshowfb2(this)">ထပ်လောင်းဖတ်စရာများ</label>
<label id="tlbl3" class="mtlbl tlbl3" onclick="showfb(this)">Facebook Posts</label>
<label id="tlbl4" class="mtlbl tlbl4"onclick="notshowfb3(this)">ဗွီဒီယိုဖိုင်များ</label>
<div class="list">
	
</div>

</div>


<div class="mart">
	<label id="title" class="marttitle">FaceBookPost</label>
	<label class="martdate">June 2020</label>
	<div id="fbbox" class="fbbox">
		<div class="mbox">
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<a href="/facebook/p001"><img class="mboximg" src="/dlu.png"></a>
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		<div class="mbox" >
			<label class="mboxt">အပိုင်း1-ဒီမှာခေါင်းစဉ် ထည့်ပါ</label>
			<p class="mboxdis">ဒီလူ ဟာ အပြင်မှာလည်း ရုပ်ချော သဘောကောင်း ကူညီတတ် တဲ့ လူကြီးလူကောင်း ဖြစ်သလို</p>
			<label class="mboxdate">Jun 29, 2020</label>
			<img class="mboximg" src="/dlu.png">
		</div>
		
	</div>
	
</div>
{{- partial "subscribe.html" . -}}
<script type="text/javascript">
	function showfb(n){
		n.style.color="#F57000";
		tlbl1.style.color="#2E2E2E";
		tlbl2.style.color="#2E2E2E";
		tlbl4.style.color="#2E2E2E";
		fbbox.style.display="block"
		document.getElementById('title').innerHTML = 'FaceBook Posts';

	}
		function notshowfb1(n){
		n.style.color="#F57000";
		tlbl2.style.color="#2E2E2E";
		tlbl3.style.color="#2E2E2E";
		tlbl4.style.color="#2E2E2E";
		fbbox.style.display="none"
		document.getElementById('title').innerHTML = 'ComingSoon';

	}
	function notshowfb2(n){
		n.style.color="#F57000";
		tlbl1.style.color="#2E2E2E";
		tlbl3.style.color="#2E2E2E";
		tlbl4.style.color="#2E2E2E";
		fbbox.style.display="none"
		document.getElementById('title').innerHTML = 'ComingSoon';

	}
	function notshowfb3(n){
		n.style.color="#F57000";
		tlbl1.style.color="#2E2E2E";
		tlbl2.style.color="#2E2E2E";
		tlbl3.style.color="#2E2E2E";
		fbbox.style.display="none"
		document.getElementById('title').innerHTML = 'ComingSoon';

	}
</script>
{{end}}
