<style type="text/css">
   .mitem{
overflow: hidden;
position: absolute;
width: 100%;
max-width: 480px;
min-width: 300px;
height: 444px;


/* grey */

background: #F2F2F2;
 }
 .mbanr{
  
  position: absolute;
width: 100%;
max-width: 480px;
min-width: 300px;
height: 90px;
left: 0px;
top: 0px;
background: #F57000;
 }
 .mbantit{
  position: absolute;
width: 56px;
height: 25px;
left: 151px;
top: 33px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 25px;
/* identical to box height, or 104% */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
 }
 .mback{
  position: absolute;
left: 5%;
right: 100%;
top: 20%;
bottom: 0%;



 }
 .menuitem{
position: absolute;
width: 100%;
max-width: 480px;
min-width: 300px;
height: 81px;
left: -1px;
justify-content: center;
background: #FFFFFF;
 }
 .menutxt{
position: absolute;
left: 20%;
right: 0%;
top: 24.69%;
bottom: 24.69%;


font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
 }
</style>

<section>
  <div id="menuitem" class="mitem">
  <div class="mbanr">
    <label class="mbantit">menu</label>
    <img class="mback" src="/mback.png" onclick="goBack()">
    <div class="menuitem" style="top: 90px;">
      <a href="/articles"><label class="menutxt">ဒစ်ဂျစ်တယ်ဖတ်စရာများ</label></a>
    </div>
    <div class="menuitem" style="top: 181px;">
      <a href="/materials"><label class="menutxt">သင်ထောက်ကူများစုစည်းမှု</label></a>
    </div>
    <div class="menuitem" style="top: 272px;">
      <a href="radio"><label class="menutxt">ဒစ်ဂျစ်တယ်ရေဒီယို</label></a>
    </div>
    <div class="menuitem" style="top: 363px;">
      <a href="/about"><label class="menutxt">လဖက်ရည်ဆိုင်အကြောင်</label></a>
    </div>
  </div>
</div>

</section>

<script type="text/javascript">
  function goBack() {
  window.history.back();
}
</script>