{{ define "main" }}
<style type="text/css">
 @media (min-width: 500px){
.subsig{
  position: absolute;
  top: 743px;

}

  .back{
   

margin-left: 150px;
top: 180px;
padding: 10px;
cursor: pointer;
/* orange */



  }


  .atitle{
 padding: 10px;  
width: 282px;
height: 48px;
left: 250px;
top: 180px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 48px;

/* Text Black */

color: #2E2E2E;
  }
.continue{
  
width: 181px;
height: 25px;


font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

/* orange */

color: #F57000;
}  
.share{
  
width: 600px;
height: 123px;
left: 220px;
top: 2455px;
}
.sharetxxt{
  position: absolute;
left: 0%;
right: 74.5%;
top: 0%;
bottom: 77.42%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* identical to box height */


/* Text Black */

color: #2E2E2E;
}
</style>
<!-- page-title -->
<section >
        <img class="back" onclick="goBack()" src="/back.png">
        <label class="atitle">{{ .Title }}  </label>
      
</section>
<!-- /page-title -->

<!-- blog single -->
<section style="margin-bottom: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class=" mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
          
        </ul>
        <article class="content">
          <img src="{{.Params.Image | absURL }}" alt="post-thumb" class=" postcv">
          
        <!--converter-->

       {{.Content}}

        <!--converter-->  
        {{- partial "popular.html" . -}} 
        <div class="subsig">
        {{- partial "subscribe.html" . -}}  
        </div>
        </article>

      
    </div>

  </div>

</section>
<div class="art">
  <label class="artheader">Related Articles</label>

       
       
        <div class="row masonry-container">
          {{ range first 4 ( where .Site.Pages "Type" "post") }}

          <div class="artbox">
            
            <article >
               <h4 class="arttitle"><a class="arttitle" >{{.Title}}</a></h4>
              
              <li class=" artinfo">{{ .PublishDate.Format "Jan 02, 2006" }}</li>
              
            </ul>
            <div class="tlevel">
              <img style="margin-left: 15px;" src="/artlevel1.png">
            </div>
              <a href="{{.Permalink}}" >
                
                <img class=" postimg " src="{{.Params.Image | absURL }}" alt="{{.Params.Image}}">
            
              </a>
              
               
              <div class="sum">{{ .Summary }}</div>
            
              
             
              
            </article>
           
          </div>
          {{ end }}
         
        

</div>
<a href="/articles"><button class="longbtn">ဆောင်းပါးတွေဆီသို့</button></a> 
<!-- /blog single -->
</div>
</div>
</section>
<script type="text/javascript">
  function goBack() {
  window.history.back();
}
</script>
{{ end }}
