{{ define "main" }}
<style type="text/css">
  .back{
   
left: 180px;

top: 180px;

cursor: pointer;
/* orange */



  }
  .atitle{
   
width: 282px;
height: 48px;
left: 250px;
top: 180px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 48px;

/* Text Black */

color: #2E2E2E;
  }
.continue{
  
width: 181px;
height: 25px;


font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 156% */

display: flex;
align-items: flex-end;
text-decoration-line: underline;

/* orange */

color: #F57000;
}  
.share{
  
width: 600px;
height: 123px;
left: 220px;
top: 2455px;
}
.sharetxxt{
  position: absolute;
left: 0%;
right: 74.5%;
top: 0%;
bottom: 77.42%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
/* identical to box height */


/* Text Black */

color: #2E2E2E;
}
</style>
<!-- page-title -->
<section >
        <img class="back" src="/back.png">
        <label class="atitle">{{ .Title }}  </label>
      
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
          <li class="list-inline-item"><i ></i>5 minute read</li>
        </ul>
        <article class="content">
          <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
          
        <!--converter-->

       {{.Content}}

        <!--converter-->    
        </article>

      
    </div>
  </div>
<div class="share">
  <label class="sharetxxt">ဤဆောင်းပါးကိုမျှဝေရန်</label>
</div>
</section>

<!-- /blog single -->

{{ end }}