<style type="text/css">
@media (max-width:480px){
  .art{
overflow: hidden;    
position: relative;
width: 100%;
max-width: 480px;
min-width: 360px;
height: auto;
left: 5px;
margin-top: 40px;

  }
   .artbox{
overflow: hidden;    
margin-top: 80px;  
margin-left: 10px;
min-width: 360px;
max-width: 480px;
height: 200px;
left: 0px;
top: 387px;
margin-bottom: 40px;

background: #FFFFFF;
} 
.artheader{
  
width: 300px;
height: 41px;
left: 15px;
top: 321px;

/* text/heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 48px;

/* text black */

color: #2E2E2E;
} 

.arttitle{
width: 300px;
height: 26px;
left: 20px;
top: 10px;


  font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;

/* Text Black */

color: #2E2E2E;
}
.artinfo{


  font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;
}
.tlevel{
  position: absolute;
width: 15.56px;
height: 12px;
left: 10px;
top: 62px;
}
.postimg{
  position: absolute;
width: 115px;
height: 115px;
left: 235px;
top: 50%;

}
.suma{
position: absolute;
width: 160px;
height: 70px;
left: 5px;
top: 185px;

/* text/body */

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 28px;

word-wrap: break-word;
/* or 175% */

letter-spacing: 0.01em;

/* Text Black */

color: #2E2E2E;
}
.duration{
  position: absolute;
left: 22.11%;
right: 66.49%;
top: 22.37%;
bottom: 67.98%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;

}
.next{
  position: absolute;
width: 100%;
max-width: 480px;
min-width: 360px;
height: 40px;
left: 239px;
top: 2773px;
} 
}

@media (min-width: 500px){
  .art{
position: relative;
width: 600px;
height: 100%;
left: 222px;
margin-top: 40px;
margin-bottom: 40px;
	}

 .artbox{
  

width: 570px;
height: 228px;
left: 235px;
top: 1821px;
margin-bottom: 40px;

background: #FFFFFF;
}
.artheader{
  


/* text/heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 48px;

/* text black */

color: #2E2E2E;
} 

.arttitle{
left: 2.63%;
right: 65.26%;


  font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 36px;

/* Text Black */

color: #2E2E2E;
}
.artinfo{
max-width: 360px; 

  font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;
}
.tlevel{
  position: absolute;
width: 62.91px;
height: 16px;
left: 15px;
top: 78px;
}
.postimg{
  position: absolute;
left: 69.3%;
right: 2.63%;
top: 14.91%;
bottom: 14.91%;
}
.suma{
position: absolute;
left: 2.63%;
right: 33.33%;
top: 45.61%;
bottom: 17.54%;

/* text/body */

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 28px;

word-wrap: break-word;
/* or 175% */

letter-spacing: 0.01em;

/* Text Black */

color: #2E2E2E;
}
.duration{
  position: absolute;
left: 22.11%;
right: 66.49%;
top: 22.37%;
bottom: 67.98%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


color: #9C9C9C;

}
.next{
  position: absolute;
width: 570px;
height: 40px;
left: 239px;
top: 2773px;
} 
}


</style>
<div class="art">
	<label class="artheader">ဆောင်းပါးများ</label>

        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
       
        <div class="row masonry-container">
          {{ range $paginator.Pages }}

          <div class="artbox">
          	
            <article >
            	 <h4 class="arttitle"><a class="arttitle" >{{.Title}}</a></h4>
            	
              <li class="list-inline-item artinfo"><i class="ti-calendar mr-2"></i>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
              <li class="list-inline-item artinfo"><i class="ti-alarm-clock mr-2 "></i><span class="eta"></span> read</li>
            </ul>
            <div class="tlevel">
            	<img src="/tlevel1.png">
            </div>
            	<a >
            		
            		<img class=" postimg crop" src="{{.Params.Image | absURL }}" alt="{{.Params.Image}}">
            
            	</a>
            	
             	 
              <div class="suma">{{ .Summary }}</div>
            
              
             
              
            </article>
         
          </div>
          {{ end }}
      	  
   			

</div>