<style type="text/css">
@media (max-width:480px){
.fsubmit{
position: absolute;	
width: 100%;
height: 29.8px;
background: #F57000;
border-radius: 6px;
border-color: #0000;
color: #FFFFFF;
margin-top: 20px;
bottom: 10px;
}	
.fbtn1{
position: absolute;
left: 10px;
}
.fbtn2{
position: absolute;
left: 186px;
}
.filterlabel{
	position: absolute;
width: 100%;
height: 41px;
left: 20px;


/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 41px;
display: flex;
align-items: flex-end;

color: #3C3C3C;

}

.filter{
	overflow: hidden;
	width: 300px;
}
.filterbar{
	
overflow: hidden;	
position: absolute;

width:100%;
min-width: 360px;
max-width: 480px;
height: 90px;
left: 0px;
top: 0px;



background: #F57000;
}
.filterbox{
display: none;	
overflow: hidden;
position: absolute;
top: 0;
min-width: 100%;
height: 782px;

/* grey */
z-index: 80;
background: #F2F2F2;
}
.titlefbar{
position: absolute;
width: 96px;
height: 25px;
left: 131px;
top: 33px;
width: 100%;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 25px;
/* identical to box height, or 104% */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;

}
.logofbar{
	position: absolute;
margin-left: 30px;	
left: 65.83%;
right: 25.28%;
top: 30.71%;
bottom: 92.2%;
z-index: 50;

/* f57000 */


}	
.clsfilter{
	position: absolute;
left: 100%;
right: -100%;
top: 0%;
bottom: 0%;

background: #FFFFFF;

}
.tbar{
overflow: hidden;	
position: relative;
width: 100%;
max-width: 480px;
min-width: 360px;
height: 206px;
left: 0px;


background: #FFFFFF;
/* Text Grey */

border: 1px solid #8E8E8E;
box-sizing: border-box;
}
.tbanner{
overflow: hidden;	
position: absolute;
width: 100%;
max-width: 480px;
min-width: 360px;
height: 76px;
left: 0px;
top:0%;
background: #F57000;
}
.titletext{
	position: absolute;
width: 188px;
height: 41px;
left: 20px;
top: ,20%;

/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
}
.fbtn{
position: absolute;
left: 25.5%;
right: 67.76%;
top: 58.48%;
bottom: 30.36%;
}
.ftext{
position: absolute;
width: 100%;
height: 25px;
left: 275.4px;
top: 50%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 25px;
/* identical to box height, or 250% */

display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.fimg{
position: absolute;
width: 20px;
height: 20.29px;
left: 241px;
top: 50%;
cursor: pointer;
z-index: 80;

/* orange */


}
.articlecount{
position: absolute;
width: 100%;
height: 25px;
left: 14px;
top: 50%;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */

display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.indc{
	font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height */

text-align: center;

/* text black */

color: #2E2E2E;
}
.cat{
position: absolute;
width: 85px;
height: 28px;
left: 14px;
top: 80%;

}
.tlv{
	position: absolute;
width: 85px;
height: 28px;
left: 135px;
top: 80%;
}
.tg{
	position: absolute;
width: 49px;
height: 28px;
left: 259px;
top: 80%;
}
.catm{
position: absolute;
left: 3%;
right: 63.5%;
top: 58.45%;
bottom: 8.6%;
}
.mbtn{
position: absolute;	
background: #FFFFFF;
width: 165px;height: 35px;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
border-radius: 0px;
border-style: none;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;
text-align: center;

/* orange */

color: #F57000;
}
.mbtn:hover {background-color: #F57000;
	color: #FFFFFF;
}

.mbtn:active {
  background-color: #F57000;;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #FFFFFF;

}

.mbtn2{
position: absolute;	
background: #FFFFFF;
width: 165px;height: 35px;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
border-radius: 6px;
border-width: 2px;
border-color: #0000;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;
text-align: center;

/* orange */

color: #F57000;
}
.mbtn2:hover {border-color: #F57000;
	color: #FFFFFF;
}

.mbtn2:active {
  border-color: #F57000;
  box-shadow: 0 5px #F57000;
  transform: translateY(4px);
  color: #FFFFFF;

}
}

@media (min-width: 500px){
.cat1{
left: 200px;
}
.catt2{
left: 30px;
}
.t1{
left: 395;
}
.t2{
left: 565;
}	
.tbar{
overflow: hidden;	
position: relative;
width: 1000px;
height: 224px;
left: 220px;


background: #FFFFFF;
/* Text Grey */

border: 1px solid #8E8E8E;
box-sizing: border-box;
margin-bottom: 40px;
}
.tbanner{
	overflow: hidden;
	position: absolute;
width: 1000px;
height: 101px;
left: 0px;
top: 0px;
background: #F57000;
}
.titletext{
	position: absolute;
width: 188px;
height: 41px;
left: 30px;
top: 30px;

/* Section Heading */

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 41px;
display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
}
.fbtn{
position: absolute;
left: 25.5%;
right: 67.76%;
top: 58.48%;
bottom: 30.36%;
}
.ftext{
position: absolute;
width: 60px;
height: 25px;
left: 275.4px;
top: 131px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 25px;
/* identical to box height, or 250% */

display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.fimg{
	position: absolute;
width: 20px;
height: 19px;
left: 255px;
top: 134px;
cursor: pointer;
z-index: 90;

/* orange */


}
.articlecount{
	position: absolute;
width: 100%;
height: 25px;
left: 30px;
top: 131px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */

display: flex;
align-items: flex-end;
text-align: center;

/* text black */

color: #2E2E2E;
}
.indc{
	font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 28px;
/* identical to box height */

text-align: center;

/* text black */

color: #2E2E2E;
}
.cat{
position: absolute;
width: 85px;
height: 28px;
left: 30px;
top: 166px;
}
.tlv{
	position: absolute;
width: 85px;
height: 28px;
left: 395px;
top: 166px;
}
.tg{
	position: absolute;
width: 49px;
height: 28px;
left: 774px;
top: 166px;
}
.catm{
position: absolute;
left: 3%;
right: 63.5%;
top: 58.45%;
bottom: 8.6%;
}
.mbtn{
position: absolute;	
background: #FFFFFF;
width: 165px;height: 35px;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
border-radius: 0px;
border-style: none;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;
text-align: center;

/* orange */

color: #F57000;
}
.mbtn:hover {background-color: #F57000;
	color: #FFFFFF;
}

.mbtn:active {
  background-color: #F57000;;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  color: #FFFFFF;
}
.mbtn2{
position: absolute;	
background: #FFFFFF;
width: 165px;height: 35px;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
border-radius: 6px;
border-style: none;
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;
text-align: center;

/* orange */

color: #F57000;
}
.mbtn2:hover {border-color: #F57000;
	color: #FFFFFF;
	border-style: ridge;	
  border-width: 2px;		
  border-color: #F57000;
  box-shadow: 0 5px #F57000;
  transform: translateY(4px);
}

.mbtn2:active {
  border-style: ridge;	
  border-width: 2px;		
  border-color: #F57000;
  box-shadow: 0 5px #F57000;
  transform: translateY(4px);
  color: #FFFFFF;

}
.filterbox{

}
.filterlabel{
	display: none;
}
.cate{
display: none;
position: absolute;
left: 15%;
right: 63.5%;
top: 10.45%;
bottom: 8.6%;
z-index: 89;

}
.teal{
display: none;
position: absolute;
left: 17%;
right: 63.5%;
top: 10.45%;
bottom: 8.6%;
z-index: 80;
}
.mftitle{
	display: none;
}
.fbtn1{
top: 204px;
}
.fbtn2{
top: 244px;
}
.fbtn3{
top: 284px;
}
.fsubmit{
	display: none;
}
}	

.artmenuimg{
	background-color: #FFFFFF;
}
	
</style>

<div id="tbar" class="tbar">
	<div class="tbanner">
		<label class="titletext">{{.Title}}</label>
	</div>
		<label class="articlecount">ဆောင်းပါး <label>၄ခု</label> ကိုပြထားသည်</label>
		<label class="ftext">(ပြောင်းရန်)</label>
		<img class="fimg" onclick="appearart()" src="/filter.png">
		<div>
			<label class="indc cat">Category( )</label>
			<label class="indc tlv">Tea level ( )</label>
			<label class="indc tg">Tag ( )</label>
		</div>
			
		
</div>
<div id="filterbox" class="filterbox">
<div id="filterbar" class="filterbar">
				<div class="mftitle">
				 <img class="mback" src="/mback.png" onclick="appearart()">
				 <label class="titlefbar">ပြောင်းရန်</label>
				 <img class="logofbar"src="/filterw.png">
				 </div>
	</div>
	 <label class="filterlabel" style="top: 110px;">Category</label>
	  <label class="filterlabel" style="top: 343px;">Cup Level</label>
	  <label class="filterlabel" style="top: 562px;">Tag</label>

			<div id="cate" class="cate" style="display: none;">
			<button class="mbtn fbtn2"  style=" top:284px;">
				E-mail Safety
			</button>
			<button class="mbtn fbtn2"  style=" top: 244px;">
				Browsing Safety
			</button>
			<button class="mbtn fbtn2"  style=" top: 204px;">
			Application Safety</button>
			<button class="mbtn fbtn1"  style=" top: 284px;">
				Hacking & Scam
			</button>
			<button class="mbtn fbtn1"  style= "top: 244px;">
				Mobile Devices
			</button>
			<button class="mbtn fbtn1"  style= "top: 204px;">
			Digital World
			</button>
		</div>
		<div id="teal" class="teal" style="display: none;">
			<button class="mbtn2  fbtn1" class="t1" style="top: 406px;">
				<img  src="/tl1.png">
			</button>
			<button class="mbtn2  fbtn2" class="t1" style=" top: 406px;">
				<img  src="/tl2.png">
			</button>
			<button class="mbtn2 fbtn1" class="t2" style="top: 455px;">
				<img  src="/tlv3.png">
			</button>
			<button class="mbtn2  fbtn2" class="t2" style="top: 455px;">
				<img  src="/tlv4.png">
			</button>
		</div>

		<div id="catew" class="cate" style="display: none;">
			<button class="mbtn fbtn3"  style=" left:  200px;">
				E-mail Safety
			</button>
			<button class="mbtn fbtn2"  style=" left:  200px;">
				Browsing Safety
			</button>
			<button class="mbtn fbtn1"  style=" left:  200px;">
			Application Safety</button>
			<button class="mbtn fbtn3"  style=" left: 30px;">
				Hacking & Scam
			</button>
			<button class="mbtn fbtn2"  style= "left: 30px;">
				Mobile Devices
			</button>
			<button class="mbtn fbtn1"  style= "left: 30px;">
			Digital World
			</button>
		</div>
		<div id="tealw" class="teal" style="display: none;">
			<button class="mbtn2 "  style="left: 395px; top: 204px;">
				<img src="/tl1.png">
			</button>
			<button class="mbtn2 "  style=" left: 565px; top: 204px;">
				<img src="/tl2.png">
			</button>
			<button class="mbtn2 "  style="left: 395px; top: 249px;">
				<img src="/tlv3.png">
			</button>
			<button class="mbtn2 "  style="left: 565px; top: 249px;">
				<img src="/tlv4.png">
			</button>
		</div>
		<button type="submit" class="fsubmit">Submit</button>
		</div>
<script type="text/javascript">
	mycat = document.getElementById('cate')
	mytea = document.getElementById('teal')
	mycatw = document.getElementById('catew')
	myteaw = document.getElementById('tealw')
	var isit = true
	function appearart() {
		if (window.screen.width <= 480 ) {
		if (isit) {
			mycat.style.display = "block";
			mytea.style.display = "block";
			filterbox.style.display = "block";
			isit = false;
			
		}else{
			mycat.style.display = "none";
			mytea.style.display = "none";
			filterbox.style.display = "none";
			isit = true;
		}
	}

	if (window.screen.width >= 480){
		if (isit) {
			mycatw.style.display = "block";
			myteaw.style.display = "block";
			filterbox.style.display = "block";
			tbar.style.height="360px";
			isit = false;
			
		}else{
			mycatw.style.display = "none";
			myteaw.style.display = "none";
			filterbox.style.display = "none";
			tbar.style.height="224px"
			isit = true;

	}
	}
}

</script>