<header class="navigation"  >
  <nav class="navbar navbar-expand-lg navbar-light">
    <h1><a class="navbar-brand" href="{{.Site.BaseURL}}"><img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{.Site.Title}}" style="width: auto; height: auto; max-width: 200px; max-height: 180px;"></a></h1>
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
      aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
   

    <div class="collapse navbar-collapse text-center" id="navogation">
      <ul class="navbar-nav ml-auto">
        
        {{ range .Site.Menus.main }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            
            {{ .Name }}
          </a>
          <div class="dropdown-menu" >
            {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}
              
            </a>
            {{ end }}
          </div>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link text-uppercase text-dark" href="{{ .URL | absURL }}"> {{ .Name }} </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      <a href="">
        <img src="/search.png" style="width: 40px; height: 40px;">
      </a>
      
      
      
    </div>
    
  </nav>

</header>