<style type="text/css">
@media (max-width:480px){
	.level{
overflow: hidden;		
position: relative;
width: 100%;
max-width: 480px;
min-width: 300px;
height:100%;

margin-top: 40px;
background: #F2F2F2;
	}
.labl{

width: 100%;
height: 25px;
left: 49px;	
margin-left: 25%;
font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height, or 139% */

display: flex;
align-items: center;
text-align: center;

/* text black */

color: #2E2E2E;

}
}	

@media (min-width: 500px){	
	.level{
overflow: hidden;		
position: relative;
width: 700px;
height: 100%;
left: 220px;
margin-top: 80px;
padding-left: 60px;
padding-right: 60px; 
  
background: #F2F2F2;


	}

	
.labl{
	padding-top: 10px;
	display: none;
}
.lab1c{
	transition: ease-in-out all .15s;
	display: block;
	opacity: 0;
	
}
.teacuptit{
	padding-left: 60px;
	padding-right:  60px;

}
.teadis{
	padding-left: 60px;
	padding-right:  60px;
}
.btt{
	padding-left: 60px;
	padding-right:  60px;
}

}
.teacuptit{
	padding-top: 30px;
	font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 48px;
display: flex;
align-items: flex-end;

/* Text Black */

color: #2E2E2E;

}
.teadis{
	padding-top: 20px;
	font-family: Pyidaungsu;
	font-style: normal;

}
.lvbtn{
	width: auto;
	background-color: #0000;
	
}
</style>

<div class=" level" style="padding: 20px;">
	<label class="teacuptit">တစ်ခုခုလေ့လာကြရအောင်</label>
	<p class="teadis">လဖက်ရည်ခွက်တွေက ခက်ခဲမှုကိုတိုင်းတာပေးပါလိမ့်မယ်။ လွယ်တာက စချင်ရင်တခွက်   ဆရာကြီးဆိုသုံးခွက်။  ရင်တွေဘာတွေတုန်လာရင်တော့  ရေနွေးကြမ်းသောက်ရေဒီယိုနားထောင်ပြီးငြိမ့်ပေါ့။</p>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab1c)" onmouseout="lablhide(lab1c)" ><img class="ig" src="/tea1.png"></button>
		<label id="lab1c" class="labl lab1c">တစ်ခွက်သောက်မယ်</label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab2c)" onmouseout="lablhide(lab2c)"><img class="ig" src="/tea2.png"></button>
			<label id="lab2c" class="labl lab1c">နှစ်ခွက် ဆွဲမယ်</label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab3c)" onmouseout="lablhide(lab3c)"><img class="ig" src="/tea3.png"></button>
			<label id="lab3c" class="labl lab1c">သုံးခွက် မော့မယ် </label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab4c)" onmouseout="lablhide(lab4c)"><img class="ig" src="/teaa4.png"></button>
			<label id="lab4c" class="labl lab1c">အခါးရည် ပဲသောက်တော့မယ်</label>
	</div>
</div>
<script type="text/javascript">
	function lablshow(x) {
   x.style.opacity="1";
}

function lablhide(x) {
 x.style.opacity="0";

}
</script>