
<div class=" level" style="padding: 20px;">
	<label class="teacuptit">တစ်ခုခုလေ့လာကြရအောင်</label>
	<p class="teadis">လဖက်ရည်ခွက်တွေက ခက်ခဲမှုကိုတိုင်းတာပေးပါလိမ့်မယ်။ လွယ်တာက စချင်ရင်တခွက်   ဆရာကြီးဆိုသုံးခွက်။  ရင်တွေဘာတွေတုန်လာရင်တော့  ရေနွေးကြမ်းသောက်ရေဒီယိုနားထောင်ပြီးငြိမ့်ပေါ့။</p>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab1c)" onmouseout="lablhide(lab1c)" ><img class="igg" src="/tea1.png"></button>
		<label id="lab1c" class="labl lab1c">တစ်ခွက်သောက်မယ်</label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab2c)" onmouseout="lablhide(lab2c)"><img class="igg" src="/tea2.png"></button>
			<label id="lab2c" class="labl lab1c">နှစ်ခွက် ဆွဲမယ်</label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab3c)" onmouseout="lablhide(lab3c)"><img class="igg" src="/tea3.png"></button>
			<label id="lab3c" class="labl lab1c">သုံးခွက် မော့မယ် </label>
	</div>
	<div class="row">
		<button class="btt lvbtn" onmouseover="lablshow(lab4c)" onmouseout="lablhide(lab4c)"><img class="igg" src="/teaa4.png"></button>
			<label id="lab4c" class="labl lab1c">အခါးရည် ပဲသောက်တော့မယ်</label>
	</div>
</div>
<script type="text/javascript">
	function lablshow(x) {
   x.style.opacity="1";
}

function lablhide(x) {
 x.style.opacity="0";

}
</script>