<style type="text/css">
	.level{
position: absolute;
width: 600px;
height: 444px;
left: 220px;
top: 1169px;
background: #F2F2F2;
	}
</style>

<div class=" level" style="padding: 20px;">
	<h4>တစ်ခုခုလေ့လာကြရအောင်</h4>
	<p>လဖက်ရည်ခွက်တွေကခက်ခဲမှုကိုတိုင်းတာပေးပါလိမ့်မယ်။လွယ်တာက စချင်ရင်တခွက် ဆရာကြီးဆိုသုံးခွက်။ရင်တွေဘာတွေတုန်လာရင်တော့ရေနွေးကြမ်းသောက်ရေဒီယိုနားထောင်ပြီးငြိမ့်ပေါ့။</p>
	<div class="row">
		<button class="btt"><img class="ig" src="/tea1.png"></button>
	</div>
	<div class="row">
		<button class="btt"><img class="ig" src="/tea2.png"></button>
	</div>
	<div class="row">
		<button class="btt"><img class="ig" src="/tea3.png"></button>
	</div>
	<div class="row">
		<button class="btt"><img class="ig" src="/tea4.png"></button>
	</div>
</div>