
<!---------------Style---------------->
<style type="text/css">
  .orange-fade {
   /* background: #fff;
   
    background: linear-gradient(135deg,#fff 0,#fff 100%);*/
     background-image: url("/BG Texture.png");
}
.pos-r {
    position: relative!important;
}
.white {
    background: #fff;
}
.text-white {
    color: #fff!important;
}
.text-gray {
    color: #363636;
}
.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator {
    width: 14%;
    height: 3px;
    margin: 1.2em auto 1em;
    background: #ffc53a;
}
.one-slide {
  border-radius: 3px;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  height: 300px;
}
.one-slide img {
  width: 60%;
}
.carousel-controls .control {
  position: absolute;
  cursor: pointer;
  top: 56.4%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  c
}
.prev {
  left: -1.875rem;
}
.next {
  right: -1.875rem;
}
.testimonial-carousel { 
  &.slick-initialized { 
    display: block; 
  }
 .message {
    width: 100%;
    font-size: .9rem;
  }
  .brand {
    width: 100%;
  }
  @media (max-width: 575px) {
    .one-slide {
      height: 200px;
    }
    img {
        width: 40%;
      }
  }
}

.text::-webkit-scrollbar {
  display: none;
}


</style>
<!------------Script--------------------->



<section class="orange-fade p-5 margin-top-xl pos-r" >
  <div class="container">
    <div class="row">
    <div class="col-sm-12">
      
        <p></p>
       <div class="mt-5 pos-r">
          <div class="carousel-controls testimonial-carousel-controls">
            <div class="control prev"><i class="fa fa-chevron-left text-white">&nbsp;</i></div>
            <div class="control next"><i class="fa fa-chevron-right text-white">&nbsp;</i></div>
          </div>
          <div class="testimonial-carousel">

            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/breakfast"><img alt="Digital Breakfast" src="/manatsar.jpg" class="mx-auto" style="width: 100%; height: 100%;" /></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray text" style="  overflow:scroll; -ms-overflow-style: none; height: 80px;"> လူ့ဘဝကြီးမှာ ကျင်လည်ဖို့ ခွန်အားတွေရှိအောင် မနက်တိုင်းမှာ ကျုပ်တို့ မနက်စာရယ်လို့ သတ်သတ်မှတ်မှတ် စားကြသလိုပဲ၊ ဒီ “‘ဒစ်ဂျစ်တယ်မနက်စာ” ကဏ္ဍက ဒစ်ဂျစ်တယ်ဘဝတွေမှာ စိတ်အေးလက်အေး နေထိုင်၊လှုပ်ရှား နိုင်ဖို့အတွက် ခွန်အားတွေရရှိအောင် အခြေခံကျတဲ့အသိပညာ တွေဖြစ်တဲ့ “ အင်တာနက် ဘယလိုအလုပ်လုပ်သလဲ” တို့ ၊ “ဖုန်းတစ်လုံးရဲ့ ခန္ဓာဗေဒ” တို့ ၊ “အခြေခံ Android လုံခြံရေး” တို့ အစရှိတဲ့ သဘောတရား (Concept) တွေကို မျှဝေ ပေးသွားမယ့် စာမျက်နှာ တစ်ခုဖြစ်ပါတယ်။</div>
              </div>
            </div>

            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/launch"><img alt="Digital launch" src="/naylalsar.jpg" class="mx-auto" style="width: 100%; height: 100%;" /></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray text" style="  overflow:scroll; -ms-overflow-style: none; height: 80px;">ဒီ “ဒစ်ဂျစ်တယ်နေ့လည်စာ” ကဏ္ဍမှာကတော့ ထမင်းတစ်ဝိုင်းစားလိုက်ရသလို စီးစီးပိုင်ပိုင် ရှိစေမယ့် လက်တွေ့ လိုက်လုပ်ရတဲ့ ဒစ်ဂျစ်တယ် လုံခြုံရေးဆိုင်ရာ၊ သတင်းအချက်အလက်စစ်ဆေးခြင်းဆိုင်ရာ အသိပညာ၊ အတတ်ပညာ အဖြာဖြာကို ကိုယ့်လူတို့ စိတ်ကြိုက် လေ့လာ စားသုံးနိုင်ဖို့အတွက် တည်ခင်းထားတာဖြစ်ပါတယ်။ Bon Apetite !</div>
              </div>
            </div>

            <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/snack"><img alt="Digital Snack" src="/thayaysar.jpg" class="mx-auto" style="width: 100%; height: 100%;"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray text" style="  overflow:scroll; -ms-overflow-style: none; height: 80px;"> ဒီ ကဏ္ဍကတော့ ကိုယ့်လူတို့ ကောက်ကောက်ဝါးနေတဲ့ သရေစာတွေလို ပေါ့ပေါ့ပါးပါး သွားရင်း၊လာရင်း၊အိမ်သာတက်ရင်း၊ လက်ဘက်ရည်သောက်ရင်း လေ့လာလို့ရတဲ့ စာတိုပေစ လေးတွေပေါ့...</div>
              </div>
            </div>
            
             <div class="one-slide white">
              <div class="testimonial w-100 h-100  p-3 text-center">
                <div class="brand"><a href="/store"><img alt="Digital Storage" src="/stokan.jpg" class="mx-auto" style="width: 100%; height: 100%;"/></a></div>
                <div class="separator">&nbsp;</div>
                   <div class="message text-center text-gray text" style="  overflow:scroll; -ms-overflow-style: none; height: 80px;">စတိုခန်း</div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
  $(".testimonial-carousel").slick({
  infinite: !0,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: !1,
  arrows:true,
  prevArrow: $(".testimonial-carousel-controls .prev"),
  nextArrow: $(".testimonial-carousel-controls .next"),
  responsive: [{
    breakpoint: 1200,
    settings: {
      slidesToShow: 3
    }
  }, {
    breakpoint: 992,
    settings: {
      slidesToShow: 2
    }
  }, {
    breakpoint: 600,
    settings: {
      slidesToShow: 1
    }
  }]
  });
});
</script>