<style type="text/css">




</style>
<div style="position: relative;">
<div class="vban">
	<label class="cattit">ဒီနေ့သင်ဘာသိချင်ပါသလဲ </label>
	<img class="catimg" src="/catimg.png">
<div style="position: absolute; margin-left: 40px; margin-top: 80px; z-index: 99;">

	
	
<div class="mobile">
	<button class="mrow1 mcol1 catbtn ">အထွေထွေဆောင်းပါး </button>
	<button class="mrow1 catbtn mcol2 ">Applicationလုံခြုံရေး</button>

	<button class=" mrow2 mcol1 catbtn ">မိုဘိုင်းဖုန်းလုံခြုံရေး</button>
	<button class=" mrow2 catbtn mcol2 "> Browser လုံခြုံရေး</button>

	<button class=" mrow3 mcol1 catbtn ">လူမှုကွန်ရက်လုံခြုံရေး</button>
	<button class=" mrow3 catbtn mcol2 ">အီးမေးနှင့်စာပို့စနစ်</button>
</div>
<div class="web">
	<div class="row" style="justify-content: center;">
	    
	     	<button class="catbtn btt">အထွေထွေဆောင်းပါး 
	     	</button>
	        <button class="catbtn btt">Applicationလုံခြုံရေး</button>
</div>	
		

<div class="row" style="justify-content: center;">
	
		<button class="catbtn btt">မိုဘိုင်းဖုန်းလုံခြုံရေး</button>
		<button class="catbtn btt">Browser လုံခြုံရေး</button>
</div>
<div class="row" style="justify-content: center;">
	
		<button class="catbtn btt">လူမှုကွန်ရက်လုံခြုံရေး</button>
		<button class="catbtn btt">အီးမေးနှင့်စာပို့စနစ်</button>
</div>

</div>



</div>

</div>	
</div>

