<style type="text/css">

@media (max-width:480px){
.vban{
	position: absolute;
width: 300px;
height: 149px;
left: 22px;
top: 520px;
background: #F2F2F2;
}
.catimg{
position: absolute;
width: 80px;
height: 160px;
left: 80%;
top: 141px;

background: #C4C4C4;
}
}

 @media (min-width: 500px){
.vban{
	position: absolute;
width: 600px;
height: 349px;
left: 220px;
top: 720px;
background: #F2F2F2;
}

.catimg{
position: absolute;
width: 130px;
height: 260px;
left: 492px;
top: 141px;

background: #C4C4C4;
}
 	}


.catbtn{
	background: #FFFFFF;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
border-radius: 6px;
width: 228px;
height: 40px;
justify-content: center;
	font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 25px;
color: #F57000;
}


</style>
<section class="section">
<div class="  vban"   >
	<img class="catimg" src="">
<div style="position: absolute; margin-left: 40px; margin-top: 30px;"  >

	<h4>ဒီနေ့ဘာသိခြင်ပါသလဲမိတ်ဆွေ</h4>
	

<div class="row" style="justify-content: center;">
	    
	     	<button class="catbtn btt">Digital World 
	     	</button>
	        <button class="catbtn btt">Application Safety</button>
</div>	
		

<div class="row" style="justify-content: center;">
	
		<button class="catbtn btt">Mobile Devices</button>
		<button class="catbtn btt">Browsing Safety</button>
</div>
<div class="row" style="justify-content: center;">
	
		<button class="catbtn btt">Hacking & Scam</button>
		<button class="catbtn btt">E-mail Safety</button>
</div>



</div>

</div>	
</section>

