<style type="text/css">
 @media (min-width: 500px){
 .popular{
position: absolute;
width: 256px;
height: 400px;
left: 916px;
top: 309px;
background: #F2F2F2;
padding-top: 20px;
padding-bottom: 20px;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
  }
.popularblock{
  position: relative;
width: 229px;
height: 63px;
left: 10px;
margin-top: 10px;
}
.popularimg{
  position: absolute;
left: 71.62%;
right: 2.18%;
top: 7.94%;
bottom: 20.63%;

}
.popularthumb{
  object-fit: cover;
  width: 60px;
  height: 45px;
}
.poputitle{
  margin-left: 5px;
  color: #2e2e2e;
  font-family: pyidaungzu;
}
.popularbody{
  position: absolute;
width: 229px;
height: 63px;
left: 0px;
top: 0px;

background: #FFFFFF;
}
  }
@media (max-width:480px){
.popu{
  display: none;
 }
}
</style>

<div class="popu">
  
 <div class="popular"  >
    <h6 class="mb-4" style="margin-top: 5px; margin-left: 5px;">Popular ဆောင်းပါးများ</h6>
    {{ range first 4 ( where .Site.Pages "Type" "post") }}
    <div class="popularblock">
     
      <div class="popularbody">
        <h6><a class="poputitle" href="{{ .Permalink }}">{{.Title}}</a></h6>
      </div>
       <div class="popularthumb popularimg" >
        <a href="{{ .Permalink }}"><img class="mr-3 post-thumb-sm"
         src="{{ .Params.Image | absURL }}"></a>
      </div>
    </div>
    {{ end }}
   
  </div>
  </div>