<style type="text/css">
  {box-sizing: border-box;}



.form-popup {
  display: none;
  position:fixed;
  bottom: 0;
  filter: blur(0px);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  color: #714f2a;
}
</style>

<label class="open-button" onclick="openForm()">သိသာစေရန်
</label>


<div class="form-popup" id="myForm">
  <form  class="form-container">
    <h3>သိသာစေရန်</h3>

    <div class="text-center pb-3">
    <p style="font-size: 12px">
      ကျွန်ုပ်တို့ ဒီဂျစ်တယ်လ္ဘက်ရည်ဆိုင် website တွင်ထားရှိသော အကြောင်းအရာများ၊ စာစုများ၊ လမ်းညွှန်များ နှင့် နည်းပညာများ သည် Creative Commons Attribution-NonCommercial-ShareAlike License အောက်တွင် ရေးသားဖန်တီးထားခြင်း ဖြစ်ပါသည်။ ဤ website တွင်မည်သည့်ပုံစံနှင့်ဖြစ်စေ ဖော်ပြထားသော နည်းပညာ နှင့် tools apps နှင့် အခြား မည်သည့်ဖော်ပြချက်ကိုမဆို (as-is) သည်အတိုင်း (သို့) သည်မျှသာဟု မှတ်ယူရမည်ဖြစ်ပြီး၊ မည်သည့်အာမခံချက် မှမပါဝင်ကြောင်း နှင့် တစ်စုံတစ်ရာ ပျက်စီးခြင်း၊ ပျက်သုဉ်း ခြင်းဖြစ်ပေါ်လာပါက ကျွန်ုပ်တို့ ဒီဂျစ်တယ်လ္ဘက်ရည်ဆိုင်မှတာဝန်ယူမည် မဟုတ်ကြောင်း အသိပေးအပ်ပါသည်။ 
    </p>
  </div>
    <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>



  <script type="text/javascript">
    function openForm() {
    document.getElementById("myForm").style.display = "block";
  

}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
  </script>