


<style type="text/css">

.slidetitlefont{
font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;

/* identical to box height */

display: flex;
align-items: flex-end;

color: #FFFFFF;
}  



@media (max-width:480px){
.slideimg{
  position: absolute;

width: 120px;
height: 120px;
margin-left: 70%;
margin-top: 20%;
margin-bottom: 0%;
background: #C4C4C4;
}

.frame{
position: absolute;


width: 100%;
max-width: 480px;
min-width: 300px;
height: 130px;
justify-content: center;
top: 30%;

  }
.slidebg{


width: 100%;
max-width: 480px;
min-width: 300px;
height: 130px;

margin-bottom: 20%;



/* orange */

background: #F57000;
}
.slidetitle{
  position: absolute;
width: 247px;
height: 32px;
left: 10px;
top: 15px;
font-size: 16px;
line-height: 22px;
}
}
@media (min-width: 500px){
.slideimg{
  position: absolute;
 

width: 250px;
height: 250px;
margin-left: 70%;
margin-top: 20%;
margin-bottom: 0%;
background: #C4C4C4;
}

.frame{
position: absolute;

width: 100%;
min-width: 480px;
min-height: 230px;
max-width: 1000px;
max-height: 400px;
left: 220px;
top: 228px;

  }
.slidebg{



width: 1000px;
height: 400px;
margin-bottom: 20%;



/* orange */

background: #F57000;
}

.slidetitle{
  position: absolute;
width: 547px;
height: 62px;
left: 50px;
top: 49px;
font-size: 36px;
line-height: 62px;
}

}
</style>



<div id="frame" class="frame">
  <img class="slideimg" src="">
  <div class="slidebg" >
    <label class="slidetitle slidetitlefont">
      ဒီဂျစ်တယ်လဖက်ရည်ဆိုင်ကတော့
    </label>
    </div>
   

</div>






<script type="text/javascript">
  
</script>