<style type="text/css">
  @media (min-width: 500px){

    }
   @media (max-width:480px){
    .ws{
      display: none;
    }

   } 

</style>
<div id="ws" class="ws">
<div class="sub" id="sub">
	<label class="title">အားပေးပါဦး!</label>
 <label class="subtxt"> ဖောက်သည်အရင်းချာများ subscribe လုပ်ရန်</label> 
    
    <input type="text" id="email" class="formsc" name="email" placeholder="  E-mail ">
  <button class="subbtn" type="submit" value="submit">Submit</button>
 <a href="https://web.facebook.com/digitalteahouse2020"><img src="/Logo_fb.png" class="fb"></a>
 <a href=""><img src="/logo_email.png" class="email"></a>
 <label class="share">ကြိုက်တယ်ဆို Share ပေးပါဦး </label>
 
 <div  class="fbs"  data-href="https://www.digitalteahouse.info/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.digitalteahouse.info%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" ><img src="/fbshare.png"></a></div>
   
</div>

</div>
</div>
</div>
