<style type="text/css">
@media (max-width:480px){
.sub{
display: none;
}
}
@media (min-width: 500px){
	.sub{
	position: absolute;
width: 256px;
height: 308px;
left: 964px;
top: 709px;
background: #FFFFFF;
/* Shadow */

box-shadow: 0px 3px 3px rgba(117, 117, 117, 0.26);
}
	}

.title{
	position: absolute;
width: 110px;
height: 36px;
left: 15px;
top: 20px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 36px;
display: flex;
align-items: flex-end;

/* [old] Text Black */

color: #535353;

}

.subtxt{
	position: absolute;
width: 226px;
height: 40.86px;
left: 15px;
top: 61px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

/* Text Black */

color: #2E2E2E;
}
.form{
	position: absolute;
width: 137px;
height: 20.93px;
left: 29px;
top: 121.8px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;
/* identical to box height */

text-align: center;

/* text grey */

color: #8E8E8E;
}
.subbtn{
	position: absolute;
width: 63.15px;
height: 29.8px;
left: 188.23px;
top: 117.2px;
background: #F57000;
border-radius: 6px;
color: #FFFFFF;
}
.fb{
	position: absolute;
left: 5.86%;
right: 82.42%;
top: 49.35%;
bottom: 40.91%;
}
.email{
	position: absolute;
left: 24.61%;
right: 63.67%;
top: 49.68%;
bottom: 40.58%;
}
.share{
	position: absolute;
width: 228px;
height: 50px;
left: 15px;
top: 203px;

font-family: Pyidaungsu;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 25px;
/* or 179% */

display: flex;
align-items: center;

/* Text Black */

color: #2E2E2E;
}
.sharebtn{
	position: absolute;
left: 5.86%;
right: 61.72%;
top: 85.39%;
bottom: 4.87%;
}


</style>

<div class="sub">
	<label class="title">အားပေးပါအုံး!</label>
 <label class="subtxt"> ဖောက်သည်အရင်းချာများ စာရင်းသွင်းရန် ….. Please Suscribe.</label> 
 
    <input type="text" id="email" class="form" name="email"><br><br>
  <button class="subbtn" type="submit" value="submit">Submit</button>
 <a href="https://web.facebook.com/digitalteahouse2020"><img src="/Logo_fb.png" class="fb"></a>
 <a href=""><img src="/logo_email.png" class="email"></a>
 <label class="share">ကြိုက်တယ်ဆို Share ပေးပါအုံး ဆိုင်အသစ်မို့ပါ !!!!!</label>
<a href=""><img src="/Share Button.png" class="sharebtn"></a>
</div>


