<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="mXfdliJA"></script>
<div class="fb-post" data-href="https://web.facebook.com/digitalteahouse2020/posts/140300884244429" data-show-text="true" data-width=""><blockquote cite="https://developers.facebook.com/digitalteahouse2020/posts/140300884244429" class="fb-xfbml-parse-ignore"><p>မဂ်လာပါပြိတ်သတ်ကြီးရေ....

Work From Home ကာလဟာ ဘယ်အချိန်ထိ ကြာမြင့်နိုင်မလဲ  မသိကြသေးသလို လာမယ့် နှစ်ကာလများမှာလည်း...</p>Posted by <a href="https://www.facebook.com/digitalteahouse2020/">Digital Tea House</a> on&nbsp;<a href="https://developers.facebook.com/digitalteahouse2020/posts/140300884244429">Friday, May 22, 2020</a></blockquote></div>