<style type="text/css">
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 2px;
  border: 2px;
  padding: 5px;
  object-fit: cover;
  width: 200px;
  height: 150px;
  
  
  cursor: pointer;
 
border-radius: 6px;
}
</style>

<img  src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" class="center" onclick="imgresize(this)">

<script type="text/javascript">
	var isit = true;
	
	function imgresize(n){
		
		if (isit) {
			
		n.style.width="100%";
		n.style.height="auto";
		n.style.position="absolute";
		n.style.zIndex = "209";
		document.getElementById("bb").style.display="block"
		isit=false;
		
	}else{
		
		n.style.width="200px";
		n.style.height="150px";
		n.style.position="relative";
		n.style.zIndex = "80";
		document.getElementById("bb").style.display="none"
		isit=true;
		
	}
		
		}
</script>