


<div class="text-center pb-3">
    <p class="mb-0">သိသာစေရန် </p>
    <p style="font-size: 10px">
      ကျွန်ုပ်တို့ ဒီဂျစ်တယ်လ္ဘက်ရည်ဆိုင် website တွင်ထားရှိသော အကြောင်းအရာများ၊ စာစုများ၊ လမ်းညွှန်များ နှင့် နည်းပညာများ သည် Creative Commons Attribution-NonCommercial-ShareAlike License အောက်တွင် ရေးသားဖန်တီးထားခြင်း ဖြစ်ပါသည်။ ဤ website တွင်မည်သည့်ပုံစံနှင့်ဖြစ်စေ ဖော်ပြထားသော နည်းပညာ နှင့် tools apps နှင့် အခြား မည်သည့်ဖော်ပြချက်ကိုမဆို (as-is) သည်အတိုင်း (သို့) သည်မျှသာဟု မှတ်ယူရမည်ဖြစ်ပြီး၊ မည်သည့်အာမခံချက် မှမပါဝင်ကြောင်း နှင့် တစ်စုံတစ်ရာ ပျက်စီးခြင်း၊ ပျက်သုဉ်း ခြင်းဖြစ်ပေါ်လာပါက ကျွန်ုပ်တို့ ဒီဂျစ်တယ်လ္ဘက်ရည်ဆိုင်မှတာဝန်ယူမည် မဟုတ်ကြောင်း အသိပေးအပ်ပါသည်။ 
    </p>
  </div>

    
   